<div  class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a routerLink="student" class="nav-link" class="btn btn-primary active" role="button" >View Student</a>
          </li>&nbsp;
          <li>
           <a routerLink="college" class="nav-link" class="btn btn-primary active" role="button" >View College</a>
          </li>
  
        </ul>
      </nav>  
        <router-outlet></router-outlet>
    </div>
    
    <div class="customcls">
      <img alt="My image name" src="./assets/images/pic5.png" width="1230" height="520">
    </div>
    <html>
  
